{% extends "myexpensetracker/layout.html" %} {% block body%}
<h1>INDEX PAGE</h1>

<form method="post">
  {% csrf_token %}

  <div
    class="form-container py-5 px-10 flex flex-col lg:flex-row md:flex grow md:justify-center items-center border border-sky-500 rtl:text-right text-right"
  >
    <div class="m-4 flex justify-center items-center rounded-lg">
      <div>
        <label class="mr-3" for="item">Item</label>
      </div>
      <div class="border" id="item">{{ expense_form.item }}</div>
    </div>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="amount">Amount</label>
      </div>
      <div class="border">{{ expense_form.amount }}</div>
    </div>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="type">Type</label>
      </div>
      <div class="border">{{ expense_form.type }}</div>
    </div>
    <div class="flex m-4 hover:scale-90">
      <input
        class="rounded-lg cursor-pointer text-white bg-gray-800 hover:bg-gray-700 focus:outline-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700"
        type="submit"
        value="Submit"
      />
    </div>
  </div>
</form>
<div class="shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-gray-500 dark:text-gray-400 text-center">
    <thead
      class="text-xs text-gray-700 uppercase shadow-md dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Expense</th>
        <th scope="col" class="px-6 py-3">Amount</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Date</th>
      </tr>
    </thead>
    {% for item in items %}
    <tbody>
      <tr>
        <td class="px-6 py-4">{{item.item}}</td>
        <td class="px-6 py-4">{{item.amount}}</td>
        <td class="px-6 py-4">{{item.type}}</td>
        <td class="px-6 py-4">{{item.timestamp}}</td>
        <td>
          <a
            href=""
            class="rounded-lg cursor-pointer text-white bg-gray-800 hover:bg-gray-700 focus:outline-none text-xs px-3.5 py-2.5 dark:bg-gray-800 dark:hover:bg-gray-700"
            >Edit</a
          >
        </td>
        <td>
          <a
            href=""
            class="rounded-lg cursor-pointer text-white bg-red-800 hover:bg-red-700 focus:outline-none text-xs px-2.5 py-2.5 dark:bg-red-800 dark:hover:bg-gray-700"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
    {% endfor %}
    <tfoot>
      <tr class="font-semibold text-gray-900">
        <th scope="row" class="px-6 py-3 text-base">Total</th>
        <td class="px-6 py-3">{{items.amount}}XXX</td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}
