{% extends "myexpensetracker/layout.html" %} {% block body %}
<form method="post">
  {% csrf_token %}
  <div
    class="form-container py-10 px-10 flex flex-col lg:flex-grow md:flex grow md:justify-center items-center border border-sky-500 rtl:text-right text-right shadow-md"
  >
    <h1 class="font-semibold">Add a new item:</h1>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="category">Category </label>
      </div>
      <div class="border" id="category">{{ transaction_form.category }}</div>
    </div>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="item">Item </label>
      </div>
      <div class="border" id="item">{{ transaction_form.item }}</div>
    </div>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="amount">Amount</label>
      </div>
      <div class="border">{{ transaction_form.amount }}</div>
    </div>
    <div class="m-4 flex justify-center items-center">
      <div>
        <label class="mr-3" for="type">Type</label>
      </div>
      <div class="border">{{ transaction_form.type }}</div>
    </div>
    <div class="flex m-4 hover:scale-90">
      <input
        class="rounded-lg cursor-pointer text-white bg-gray-800 hover:bg-gray-700 focus:outline-none text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700"
        type="submit"
        value="Submit"
      />
    </div>
  </div>
</form>
<div>
  <div
    class="table w-full text-sm text-gray-500 dark:text-gray-400 text-center shadow-md"
  >
    <div
      class="table-header-group text-xs text-gray-700 uppercase shadow-sm dark:bg-gray-700 dark:text-gray-400"
    >
      <div class="table-row font-semibold">
        <div class="table-cell px-6 py-3" scope="col">Category</div>
        <div class="table-cell px-6 py-3" scope="col">Transaction</div>
        <div class="table-cell px-6 py-3" scope="col">Amount</div>
        <div class="table-cell px-6 py-3" scope="col">Type</div>
        <div class="table-cell px-6 py-3" scope="col">Date</div>
      </div>
    </div>
    {% for item in items %}
    <div class="table-row-group shadow-sm">
      <div class="table-row shadow-sm">
        <div class="table-cell px-6 py-4">{{item.category}}</div>
        <div class="table-cell px-6 py-4">{{item.item}}</div>
        <div class="table-cell px-6 py-4">£{{item.amount}}</div>
        <div class="table-cell px-6 py-4">{{item.type}}</div>
        <div class="table-cell px-6 py-4">{{item.timestamp}}</div>
        <div class="table-cell px-6 py-4">
          <div class="inline-flex sm:flex">
            <a
              href="{% url 'edit' item.id %}"
              class="rounded-l cursor-pointer text-white bg-gray-800 hover:bg-gray-700 focus:outline-none text-xs px-2 py-2 dark:bg-gray-800 dark:hover:bg-gray-700"
              >Edit</a
            >

            <form method="post" action="{% url 'delete' item.id %}">
              {% csrf_token %}
              <button
                name="delete-btn"
                class="rounded-r cursor-pointer text-white bg-red-800 hover:bg-red-700 focus:outline-none text-xs px-2 py-2 dark:bg-red-800 dark:hover:bg-gray-700"
              >
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="table-row-group shadow-md">
      <div class="table-row font-semibold text-gray-900">
        <div class="table-cell px-6 py-3 text-base" scope="row">Total</div>
        <div class="table-cell px-6 py-3" scope="row">
          £{{ amount_total.amount__sum|floatformat:2 }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" py-10 px-10 flex flex-col lg:flex-row md:flex grow md:justify-center items-center border border-sky-500 rtl:text-right text-right shadow-md">
  <h1 class="font-semibold">Recent transactions: </h1>
  <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3">
    <p class="title pr-3">Today: </p>
    <p >  £{{ today_total.amount__sum|floatformat:2}}</p>
    
  </div>
  <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3">
    <p class="title pr-3">Last 7 days: </p>
    <p > £{{ seven_day_total.amount__sum|floatformat:2  }}</p>
    
  </div>
  <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3" >
    <p class="title pr-3">Last 3 months: </p>
    <p > £{{ three_months_total.amount__sum|floatformat:2  }}</p>
    
  </div>
  <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3">
    <p class="title pr-3">Last 365 days: </p>
    <p > £{{ last_year_total.amount__sum |floatformat:2 }}</p>
    
  </div>
</div>


<div class="py-10 px-10 flex flex-col md:flex-grow md:justify-center items-center border border-sky-500 rtl:text-right text-right shadow-md">
  <div class="flex flex-col items-center">
    <h1 class="font-semibold">Transactions by Category: </h1>
    <div class="flex flex-row items-center  rtl:text-right text-right px-3 m-3">
    {% for item in transactions_by_category %}
      <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3">
          <div class="flex flex-row">
            <p class="title pr-3">Category: {{ item.category }}</p>
            <p class="amount">£{{ item.amount__sum | floatformat:2 }}</p>
           
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <div class="net_income flex items-center">
    <h1 class="font-semibold">Net Income:</h1>
    <div class="flex flex-row items-center border border-sky-500 rtl:text-right text-right px-3 m-3">
      <p class="amount">£{{ net_income| floatformat:2 }}</p>
    </div>
  </div>
</div>



{% endblock %}
